@charset "utf-8";
/* 30no2 2017-08-06 */

/* basic */

ul{margin:0;padding:0;}
a{text-decoration: none;color:white;}
a:hover{
    text-decoration: underline;
    opacity:0.8;filter:alpha(opacity=80); /* 针对 IE8 以及更早的版本 设置透明度*/
}
li{list-style-type: none;}
nav , .nav-submenu-list{
    /* height:30px;
    line-height: 30px; */
    background:#25383C;text-align: center;/* 为了让文字居中 */}

/* 清除浮动 */
.clearfix{content:"";display: block;clear:both;}

/* nav */

/*移动端样式*/
.menu-btn{
    border: none;
    padding:8px 0;
}
.btn-icon-close{
    background:#ccc url("img/btn-close.png") no-repeat center center;
}
.btn-icon-menu{
    background:blue url("img/btn-menu.png") no-repeat center center;
}
.menu-btn-icon{
    border:none;
    width:30px;
    height:30px;
    background-size:cover;    /* 保证背景图始终覆盖容器 */
    float:left;
    cursor:pointer;
    margin-left:10px;
}

.nav-list-item a{
    color:white;
    display: block;
    padding:20px 40px;
}
.nav-list-item:hover>ul{
    display: block;
}
.nav-submenu-list{
    display: none;
}
